* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 24px;
}


@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Regular.ttf);
}

h1,
h2 {
    font-family: "Roboto";
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 56px;
    letter-spacing: 1px;
    text-shadow: 1px #050038;
}

h5 {
    font-family: "Roboto";
    font-size: .75rem;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.item_nav_header {
    font-family: "Roboto";
    color: #050038;
    font-size: .6rem;
}

.block_section>p,
a {
    font-family: "Roboto";
    font-size: .75rem;
    line-height: 1rem;
    margin-bottom: 55px;
}

form>p {
    font-family: "Roboto";
    font-size: .58rem;
    line-height: 20px;
    margin-bottom: 50px;
}

.block_logo_img>p {
    font-family: "Roboto";
    font-size: .75rem;
    letter-spacing: .25px;
    line-height: 24px;
}

header {
    max-width: 1200px;
    min-height: 90px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
}

.logo_header {
    display: flex;
    position: relative;
    width: 650px;
    height: 45px;
    justify-content: space-around;
    align-items: center;
}

.logo_img {
    position: relative;
    top: -5px;
}

.list_nav_header {
    display: flex;
    gap: 35px;
    position: relative;
}

.item_nav_header:hover {
    color: #4262FF;
}

.item_nav_header {
    padding: 5px;
}


.logo_world {
    display: flex;
    gap: 75px;
    width: 275px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo_world>img {
    width: 30px;
    height: 30px;
}

.button_header {
    font-family: "Roboto";
    font-size: 16px;
    border-radius: 24px;
    border: none;
    background-color: #4262ff;
    color: #ffffff;
    width: 155px;
    height: 48px;
    transition: .2s;
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
}

.button_header:hover {
    letter-spacing: .2px;
    box-shadow: 1px 3px 10px #737373;
}

main {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px 0 40px;
    line-height: 2.3rem;
    letter-spacing: 1px;
}

section {
    display: flex;
    gap: 70px;
    margin-bottom: 210px;
}

.block_section>a,
.block_text>a {
    margin-bottom: 0;
    border-bottom: 2px solid #4262FF;
    color: #4262FF;
}

form {
    display: flex;
    width: 440px;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 50px;
    border: none;
    border-radius: 32px;
    background-color: #4262FF;
    color: #ffffff;
    font-family: "Roboto";
    font-size: .75rem;
    box-shadow: -.5px 3px 3px rgb(130, 130, 130);
}

input:first-child {
    background-color: #D9D9D9;
    padding: 5px 15px;
    outline: none;
    color: black;
}

input:hover {
    border: 2px solid #4262FF;
}

.button_start:hover {
    position: relative;
    display: block;
    top: -1px;
    width: 445px;
    transition: .3s;
}

input:focus {
    border: 2px solid #4262FF;
}

.block_logo_img {
    display: flex;
    gap: 20px;
    align-items: center;
}

.block_image>img {
    position: relative;
    top: 15px;
}

.styles {
    box-shadow: 1px 1px 13px rgb(209, 208, 208);
}

section:nth-child(2)>.block_image {
    position: relative;
    left: 35px;
    margin-bottom: 0;
}

section:nth-child(2) {
    margin-bottom: 120px;
}

section:nth-child(2)>.block_image>img {
    top: -85px;
}

section:nth-child(3) {
    position: relative;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 140px;
}

section:nth-child(3)>.block_section {
    position: relative;
    padding-top: 35px;
}

section:nth-child(3)>.block_image {
    position: relative;
    top: -15px;
}

section:nth-child(3)>.block_image>img {
    position: relative;
    display: block;
}

section:nth-child(4),
section:nth-child(5) {
    display: block;
    padding-left: 30px;
    margin-bottom: 150px;
}

.list_nav_section>li:first-child>a {
    background-color: #dadff8;
}

.item_nav_section:hover {
    outline: 2px solid blue;

}

.block_text {
    padding: 30px 15px;
    margin-right: 75px;
}

.block_text>p {
    line-height: 1rem;
    font-size: .75rem;
    letter-spacing: 0;
    width: 290px;
    margin-bottom: 30px;
}

section:nth-child(4)>h2 {
    margin-bottom: 45px;
}

section:nth-child(4)>.block_section,
section:nth-child(5)>.block_section {
    display: flex;
    position: relative;
}

section:nth-child(5) {
    margin-bottom: 120px;
}

.list_nav_section {
    display: flex;
    margin-bottom: 25px;
    gap: 10px;
}

.item_nav_section {
    height: 50px;
    width: 100%;
    white-space: nowrap;
    font-family: "Roboto";
    font-size: .58rem;
    line-height: 20px;
    padding: 15px 15px;
    border-radius: 24px;
    background-color: #F2F2F2;
    color: #050038;
}

.block_text_list {
    font-size: .7rem;
    line-height: 24px;
    padding-left: 20px;
    padding-top: 30px;
    margin-right: 75px;
}

.block_text_list>p {
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 1rem;
    letter-spacing: .25px;
}

.block_text_list>a {
    display: inline-block;
    margin-bottom: 70px;
}

.block_text_list>p::before {
    content: url(../Images/Vector.png);
    position: absolute;
    left: 20px;
}

.img_group2 {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

section:nth-child(6) {
    background-color: #FFD02F;
    display: block;
    padding-top: 115px;
    margin: 0 -40px 115px -40px;
}

.title_section {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.title_section>a {
    border-bottom: 2px solid #050038;
    font-size: .75rem;
    color: #050038;
    padding: 5px;

}

.title_section>a:hover {
    border: 2px solid #050035;
    border-radius: 25px;
    padding: 5px 15px;
    transition: .8s;
    box-shadow: 1px 3px 15px #535352;
}

.container_yellow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 40px 40px;
    justify-content: space-between;
}

.cards_yellow {
    font-size: 1rem;
    margin-bottom: 60px;
    width: 360px;
    height: 255px;
    flex-direction: column;

}

.card_top {
    width: 360px;
    height: 155px;
    margin-bottom: 25px;
    position: relative;
}

.card_top>img {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.card_bottom {
    text-align: center;
    position: relative;
    font-size: .75rem;
    line-height: 1rem;
}

section:nth-child(7) {
    display: block;
    padding-top: 10px;
    margin-bottom: 120px;
}

.title_section_link {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.title_section_link>a {
    padding: 10px 20px;
    border: 2px solid #4262FF;
    border-radius: 1rem;
    color: #4262FF;
    font-size: .75rem;
    line-height: 1rem;
    box-shadow: -1px 3px 5px #c3c3c3;
}

.title_section_link>h2 {
    margin-bottom: 25px;
}

.title_section_link>a:hover {
    box-shadow: -1px 2px 7px #9d9d9d;
    letter-spacing: 1.1px;

}

.container {
    display: flex;
    justify-content: space-between;

}

.card {
    display: block;
    position: relative;
    padding: 35px;
}

.card>img {
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
    width: 285px;
    height: 70px;
}

.card>p {
    height: 250px;
    font-size: .75rem;
    line-height: 1rem;
    color: #050038;
    margin-bottom: 40px;
}

.data_bottom {
    font-size: .58rem;
    line-height: 20px;
    padding: 10px 20px 10px 5px;
    height: 75px;
}

.data_bottom>img {
    position: relative;
    margin-right: 10px;
}

.data_bottom>p {
    display: block;
    float: right;
}

section:nth-child(8) {
    background-color: #050038;
    color: #ffffff;
    border-radius: 16px;
    display: block;
    text-align: center;
    padding: 115px;
    margin-bottom: 120px;
}

.register>h2 {
    margin-bottom: 20px;
}

.register>p {
    margin-bottom: 40px;
    font-size: .75rem;
    line-height: 1rem;
}

.register>input {
    width: 250px;
    padding: 12px;
    box-shadow: none;
    border: 1px solid white;
}

.register>input:hover {
    letter-spacing: .3px;
}

footer {
    width: 1200px;
    height: 755px;
    background-color: #050038;
    margin: 0 auto;
}

menu {
    margin-right: 30px;
}

.top_menu {
    display: flex;
    padding: 70px 20px;
}

.list {
    width: 220px;

}

.list>li:first-child {
    margin-bottom: 25px;
}

.list>li {
    margin-bottom: 10px;

}

.list>li>a {
    color: white;
    font-size: .75rem;
    line-height: 1rem;
}

.list_product>li>a:hover {
    text-decoration: underline 2px solid white;
    text-underline-offset: 4px;
}

.bottom_menu {
    padding-left: 10px;
    display: flex;
    position: relative;
    background-color: #050038;
    width: 100%;
    height: 210px;
    align-items: center;
}

.logo_list {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin-right: 10px;
}

.logo_list>img {
    margin-left: 10px;
}

.logo_list>img:first-child {
    margin: 0;
}

.item_link>a>img {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.item_link>a {
    color: white;
}

.item_link>a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.bottom_list_link {
    display: flex;
    align-items: center;
}

.item_link {
    display: inline-block;
    padding: 5px;
    margin-right: 15px;
}

.hr {
    padding: 0 30px 0 30px;
}

.bottom_logotip {
    display: flex;
    position: absolute;
    bottom: 25px;
}

.bottom_logotip>img {
    display: block;
    margin-right: 15px;
}