* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 24px;
}


@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Regular.ttf);

}

header,
.wrapper {
    width: 1200px;
    margin: 0 auto;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

header {
    height: 90px;
    margin-bottom: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(200, 200, 200), #ffffff, rgb(200, 200, 200));
    box-shadow: 0 1px 3px;
}

.logo_miro {
    margin-left: 20px;
    position: relative;
    top: -3px;
}

.logo_world {
    position: relative;
    right: -70px;
    top: 3px;
}

.head_nav_list {
    display: flex;
    gap: 30px;
    position: relative;
    left: -125px
}

.header_nav_link {
    font-family: "Roboto";
    font-size: 0.6rem;
    font-weight: 600;
}

.header_nav_link:hover {
    border-bottom: 2px solid #0d1123;
}

.header_button {
    margin-right: 30px;
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 1rem;
    background-color: #4262FF;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 1px;
    box-shadow: 1px 2px 5px rgb(103, 103, 103);

}

.header_button:hover {
    background-color: rgb(4, 142, 76);
    border: 2px solid #4262FF;
    transition: 1s;
}

section {
    display: flex;

}

.first_section {
    margin-bottom: 200px;
    gap: 65px;
}

.text-section {
    width: 440px;
    margin-left: 40px;
}

.img-section {
    margin-right: 40px;
    position: relative;
    top: 4px;
}

h1,
h2 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 2rem;
    line-height: 56px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.text-section>p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 50px;
    line-height: 1rem;
    color: 050038;
}

form>input:nth-child(2) {
    background-color: #4262FF;
    color: ffffff;
    font-family: "Roboto";
    font-size: .75rem;
    line-height: 27px;
    color: #ffffff;
}

form>input:nth-child(2):hover {
    background-color: rgb(4, 142, 76);
    transition: 1s;
    border: 2px solid #4262FF;
}

form>input:first-child {
    padding: 0 15px;
}

form>input:first-child:focus {
    background-color: rgb(182, 245, 245);
    color: #010b3b;
    outline: none;
    border: 2px solid #4262FF;
    font-size: .75rem;
}

input {
    width: 440px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 32px;
    border: 1px solid #9B99AF;
    box-shadow: 1px 2px 3px rgb(103, 103, 103);
}


.text-group {
    display: flex;
    gap: 20px;
    font-family: "Roboto";
    font-size: .75rem;
    letter-spacing: .24px;
    line-height: 24px;
}

.img_group1 {
    position: relative;
    top: -5px;
}

.seqond_section {
    gap: 116px;
}

.seqond_section>div>img {
    position: relative;
    top: -85px;

}

.seqond_section>p {
    margin-bottom: 40px;
    font-family: "Roboto";
    font-size: .75px;
    line-height: 24px;
}

.seqond_section>.text-section>p {
    color: rgb(26, 0, 56, 60%);
}

.seqond_section>div>a,
.third_section>div>a,
.text-section>a {
    color: #4262ff;
    border-bottom: 2px solid #4262ff;
}

.third_section>.img-section,
.seqond_section>.img-section {
    box-shadow: none;
}

.third_section {
    flex-direction: row-reverse;
    position: relative;
    gap: 40px;
    margin-bottom: 120px;
}

.third_section>.img-section {
    position: relative;
    left: -30px;
}

.third_section>.text-section {
    position: relative;
    top: 45px;
    left: -30px;
}

.fourth_section,
.fifth_section {
    width: 1120px;
}

.section_direct {
    flex-direction: column;
    margin-left: 70px;
}

.section_direct>h2 {
    margin-bottom: 35px;
}

.list_buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 70px;
}

.list_buttons>button {
    height: 50px;
    padding: 0 15px;
    border-radius: 1rem;
    white-space: nowrap;
    font-family: "Roboto";
    font-size: .6rem;
    line-height: 20px;
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
}

.list_buttons>button:first-child {
    background-color: #f1f3fd;
}

.fourth_section {
    margin-bottom: 145px;
}

.img4-section {
    position: relative;
    top: -30px;
    left: 15px;
}

.item4_section,
.item5_section {
    display: flex;
    gap: 55px;
}

.item4_section>.text-section {
    width: 288px;
    margin-left: 15px;
}

.img5_section {
    position: relative;
    top: -25px;
    left: -135px;
}

.list {
    position: relative;
    left: -35px;
}

.list_item {
    padding: 0 0 20px 20px;
}

.list_item::before {
    content: url(../Images/Vector.png);
    position: relative;
    left: -15px;
    top: -3px;
}

span {
    position: relative;
    right: -15px;
}

.list_item:last-child {
    margin-bottom: 30px;
}

.link_section {
    display: inline-block;
    margin-bottom: 70px;
    position: relative;
    left: -25px;
}

.item5_section>.text-section {
    position: relative;
    left: -25px;
    padding-left: 35px;
}

.item5_section>div>p {
    position: relative;
    left: -25px;
}

.img_group2 {
    position: relative;
    display: flex;
    gap: 30px;
    left: -25px;
}